[submodule "libs/vendor/tdlib"]
	path = libs/vendor/tdlib
	url = https://github.com/tdlib/td.git
[submodule "libs/quickflux"]
	path = libs/quickflux
	url = https://github.com/benlau/quickflux
[submodule "libs/vendor/rlottie"]
	path = libs/vendor/rlottie
	url = https://github.com/TelegramMessenger/rlottie
[submodule "libs/rlottie-qml"]
	path = libs/rlottie-qml
	url = https://gitlab.com/mymike00/rlottie-qml
